
.body{
    position: absolute;
    top: 0;
    padding: 28px;
    font-family: 
    "san francisco";
    font-weight: 600;
    

}


.container{
 display: flex;
 overflow: auto;
 scrollbar-width: none;
 background-color: gray;
 padding: 1.5rem;   
 
}

.container::-webkit-scrollbar{
  width: 0;  

}

.card{
 position: relative;
 flex: 0 0 309px;
 height:350px;
 overflow: hidden;
 margin-left: 1.5rem;
 border-radius: 18px;
 
 box-shadow: 
 2px 4px 12px
 rgba(0, 0, 0, 0.08);

}

.card:hover{
    outline: 1px solid rgb(255, 0, 0) ;
}

img{

    width:100%;
    

}

.title{
    font-size: 0.75rem;
    margin-bottom: 1rem;

}
.link{
    font-size: 1.3rem;
}
.text{
    font-size: 1.1rem;
    font-weight: 300;
}


